<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Tanya Rotherfield{% endblock %}</title>
        {% block head_javascripts %}
          <link href='http://fonts.googleapis.com/css?family=Petrona' rel='stylesheet' type='text/css'>
        {% endblock %}
        {% block stylesheets %}
           <link href="{{ asset('bundles/content/css/static.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>   
    <div class="wrapper">
      <div class="header">
        <h1>
          {% block header_text %}
             Tanya Rotherfield - Fine Art
          {% endblock %}
        </h1>
      </div>
      {% block body %}{% endblock %}
        <div class="footer">
          <a href="mailto:tanya@tanyarotherfield.co.uk">Email Tanya</a>
        </div>
      {% block javascripts %}{% endblock %}
    </div>
  </body>
</html>
