{% extends '::base.html.twig' %}
{% block title %}
  {{parent()}} - Gallery
{% endblock %}
 {% block body %}
      {% set i = 0 %}
     {% for image in images %}
        {% if not i % 4 %}
          <div class="row {% if not i % 8 %}odd{% else %}even{%endif%}">
        {% endif %}
              <div class="image {% if not i % 2 %}odd{% else %}even{%endif%}">
                <img src="{{ asset('bundles/content/images/'~image~'-THUMB.png') }}" />
              </div>
        {% if i % 4 == 3 %}
              <div class="cb"></div>
          </div>
        {% endif %}
        {% set i = 1+i %}
     {% endfor %}
 {% endblock %}
